
<div class="contents">
  <h1><span class="background">出会いの春、<br>別れの春。</span></h1>
  <img src="./images/IMG_9854.JPG" class="key-image">
  <div class="text-container">
    <p><span class="background">
    信じられないくらいにすぐ過ぎた。<br>
    魔法の時間はすぐ過ぎた。</span></p>
    <p><span class="background">
    伝えたかった事、伝わったかな。<br>
    伝えたかった事ってなんなのかな。</span></p>
    <p><span class="background">
    旅立ちの時はいつだって少し怖いけど、<br>
    これも希望のかたちだってちゃんと分かってる。</span></p>
    <p><span class="background">
    寂しくなるね。<br>
    だけど今は、明日を想って。</span></p>
  </div>
  <h3>卒業しますか？</h3>
  <div class="button-container">
    <a href = "/login">はい</a>
    <a href = "/active_mentor">いいえ</a>
  </div>
</div>