@font-face {
  font-family: 'eri';
  src: url(../fonts/えり字.otf);
}

.sakura{
 width: 100vw;
 height: 100vh;
 position: absolute;
 z-index: 0;
 top:0;
 left:0;
}


.key-image{
  position: sticky;
  z-index: 0;
}

h1{
    width: 100%;
    font-family: 'Noto Serif SC', serif;
    color: #000000;
    display: block;
    margin-bottom: 8vh;
    margin-top: 5vh;
    letter-spacing: 1rem;
    position: sticky;
    z-index: 1
}

h3{
    font-family: 'Noto Serif SC', serif;
    color: #000000;
    text-align: center;
}

button {
  border: none;
  background: transparent
}

p{
    font-family: 'eri';
    letter-spacing: -0.4rem;
    line-height: -1rem;
}

.text-container{
  margin-bottom: 8vh;
  padding-right: 2vw;
  padding-top: 3vh;
  position: sticky;
  z-index: 2;
}

.background{
  background: #fff;
}

.button-container{
    text-align: center;
    margin-bottom: 10vh;
}

.button-container a{
    font-family: 'Noto Serif SC', serif;
    color: #000000;
    display: inline-block;
}

iframe{
  width: 100%;
  height: 100%;
}

.form-group{
  font-family: 'Noto Serif SC', serif;
  display: block;
  text-align: center;
  width: 30vw;
}

.input-form{
  text-align: left;
}

.input-container{
  width: 30vw;

  /* margin: 0 auto; */
}

.form{
  text-align: left;
}

.form-group input{
  font-family: 'Noto Serif SC', serif;
}

.form-group h3{
  margin-top: 5rem;
}

.sotsugyou-container{
  clear: both;
  margin: 0 auto;
  width: 50vw;
}

.door-button{
  display: inline-block;
  margin-top: 10vh;
}

/* 900px以上 */
@media only screen and ( min-width: 900px ) {
  .key-image{
    width: 50vw;
    margin: -15vh 0 -20vh 20vw;
  }

  h1{
    font-size: 5rem;
    }


    .button-container a{
        font-size: 1.4rem;
        margin: 1rem;
    }

    p{
      font-size: 1.5rem;
      padding: 1rem;
    }

    .form-group{
      font-size: 1.5rem;
    }

    .form-group button{
      font-size: 3rem;
    }

    .door-button{
      font-size: 1.5rem !important;
    }

    .door-button:hover{
      text-decoration: underline;
    }

  }

/* 900px以下 */
@media only screen and ( max-width: 900px ) {
  .key-image{
    width: 90vw;
    margin: -10vh 0 -0.8vh 10vw;
  }

  h1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .button-container a{
        font-size: 1.3rem;
        margin: 0.5rem;
    }

    p {
      font-size: 1rem;
      letter-spacing: -0.2rem;
    }

    .form{
      letter-spacing: 0.8rem;
    }

    /* .form-group input{
      width: 80vw;
    } */

    .form-group{
      font-size: 1.8rem;
    }

    .form-group button{
      font-size: 5rem;
    }

    .form-group{
      font-size: 1rem;
    }

    .door-button{
      font-size: 1.4rem !important;
    }
}